[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[requires]
python_version = "3.8"

[dev-packages]
flake8 = "*"

[packages]
pandas = "*"

[packages.nmigen]
git = "https://github.com/m-labs/nmigen.git"

[packages.nmigen-boards]
git = "https://github.com/axiom-micro/nmigen-boards.git"
