[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
pytest-pycharm = "*"
pylint = "*"
pytest = "*"
tqdm = "*"
pytest-xdist = "*"
psutil = "*"
pytest-github-actions-annotate-failures = "*"
pytest-forked = "*"
huffman = "*"
matplotlib = "*"
bitarray = "*"
rawpy = "*"
numba = "*"
pydng = {subdirectory = "src", git = "https://github.com/schoolpost/PyDNG.git"}

[packages]
nmigen = {editable = true,path = "/home/anuejn/code/nmigen"}
yowasp-yosys = "*"
nmigen-boards = {git = "https://github.com/nmigen/nmigen-boards.git"}
numpy = "*"
imageio = "*"

[scripts]
test = "pytest --forked -n 8 src/"
